body {
    height: 100svh;
}

div:has(>input:checked) {
    background-color: #d9db3040;
}

input:focus {
    outline: none;
}

.input-group {
    transition: all 0.25s ease-in-out;
}

.input-group:focus-within {
    border-color: #d9db30;
    border-width: 0.1rem;
}

.input-group:hover{
    border-color: #d9db30;
    transform: scale(1.05);
}

@media (width >= 48rem) {

    #root {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    body {
        background-color: #e3f4fc;
        padding: 2rem;
    }

    .calculator {
        border-radius: 1rem 1rem;
        width: 60%;
        height: fit-content;
    }

    .results {
        border-radius: 0 1rem 1rem 3rem;
        justify-content: center;
    }

    .form {
        border-radius: 1rem 0 0 1rem;
    }

    .inputs {
        display: flex;
        gap: 1rem;
    }

    .input{
        align-items: center;
    }
}